<div class="wrapper-md" ng-controller="ShoppingDetailCtrl">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <ul class="breadcrumb bg-white b-a">
        <li><a href="#/"><i class="fa fa-home" translate="APPNAME"></i> </a></li>
        <li><a href="">在线购物</a></li>
        <li class="active">商品详情</li>
    </ul>

    <div>
        <div class="well m-t bg-light lt">
            <div class="row">
                <div class="col-md-12">
                    <h2>产品详情</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <img class="img-responsive" alt="代表图" src="{{productDetail.imageUrl}}">
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="clo-md-10 col-md-offset-2">
                                    <h3>{{productDetail.productName}}</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <p class="text-right">价格：</p>
                                </div>
                                <div class="col-md-10">
                                    <p>￥{{productDetail.price}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="text-right">规格：</p>
                                </div>
                                <div class="col-md-10">
                                    <p>{{productDetail.guiGe}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 text-right" style="padding-top: 8px;">
                                    购买数量：
                                </div>

                                <div class="col-md-3">

                                    <input class="form-control" value="1" type="number" ng-model="productDetail.count" ng-focus="hasInput=false" required>
                                    <span class="field-validation-error" ng-show="hasInput"><span id="Count-error" class="">'购买数量' 是必填项.</span></span>

                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-10 col-md-offset-2">
                                    <button class="btn btn-success" ng-click="addShoppingCar()">加入购物车</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top: 20px; font-size: 18px;">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#">产品详情</a></li>
                    </ul>
                    <div>
                        <p>
                            {{productDetail.description}}
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>