<!--<div class="container w-xl w-auto-xs" ng-controller="FindPsdByEmail">
    <a href class="navbar-brand block m-t"></a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>邮箱找回</strong>
        </div>
        <form name="reset" ng-init="isCollapsed=true">
            <div class="text-danger wrapper text-center ng-binding ng-hide" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="用户名" ng-model="user.usercode" class="form-control no-border" required>
                </div>
            </div>
            <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="findByEmail(isCollapsed)">发送</button>


            <div class="text-center m-t m-b"><a ui-sref="findByMiBao">您还可以通过密保问题找回</a></div>
        </form>
        <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="back()">返回登录</button>
        <div ng-hide="isCollapsed" class="m-t">
            <div class="alert alert-success">
                <p>重置链接发送到您的电子邮件地址，请在7天内检查<a ui-sref="/" class="btn btn-sm btn-success">登录</a></p>
            </div>
        </div>
    </div>

</div>-->
<div class="container" ng-controller="FindPsdByEmail">
    <div class="row">
        <img class="loginlogo" src="../../img/LOGO.png" />
    </div>
    <div class="row">
        <div class="loginBottom">
            <form class="form-horizontal xhr-form" name="form">

                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-3 col-md-6 col-lg-7">
                        <div class="text-center m-t m-b">
                            {{authError}}
                        </div>
                    </div>
                </div>
                <div class="login-item clearfix">
                    <img src="../../img/login-1.png" />
                    <input type="text" placeholder="用户名" ng-model="user.usercode"  class="no-border" required>
                </div>
                <div>
                    <button type="submit" ng-disabled="reset.$invalid" class="btn login-item-subBtn btn-primary btn-block" ng-click="findByEmail(isCollapsed)">发 送</button>
                </div>
                <div>
                    <div class="text-center m-t m-b"><a ui-sref="findByMiBao" class="login-target">您还可以通过密保问题找回</a></div>
                </div>
                <div>
                    <button type="submit" class="btn login-item-subBtn btn-lg btn-success btn-block" ng-click="back()">返回登录</button>
                </div>
                <div ng-hide="isCollapsed">
                    <div class="alert alert-success">
                        <p>重置链接发送到您的电子邮件地址，请在7天内检查<a ui-sref="login" class="btn btn-sm btn-success" style="font-size: 12px; padding: 2p; margin-left: 4px;">登 录</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>