<div class="wrapper-md">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <ul class="breadcrumb bg-white b-a">
        <li><a href="#/"><i class="fa fa-home" translate="APPNAME"></i> </a></li>
        <li><a href="" translate="PAGE.shop.breadcrumb2">在线购物</a></li>
        <li class="active" translate="PAGE.shop.address.index.title">收货地址</li>
    </ul>
    <tabset class="tab-container"  ng-init="steps={percent:20, step1:false, step2:true}">

        <tab heading="{{'PAGE.shop.address.index.addAddress'|translate}}"  active="steps.step1" ng-controller="AddAddressCtrl" >
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <font>
                            <font class="customTitle" translate="PAGE.shop.address.index.addAddress">    添加收货地址</font>
                        </font>
                    </h3>
                </div>

                <div class="panel-body">
                    <form name="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate="PAGE.shop.address.index.Address">地址:<i class="glyphicon glyphicon-asterisk" style="font-size: 20px; color: red;"></i></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="" ng-model="address.Address" required>

                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate="PAGE.shop.address.index.tel">手机号:<i class="glyphicon glyphicon-asterisk" style="font-size: 20px; color: red;"></i></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="" ng-model="address.Mobile" required>

                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate="PAGE.shop.address.index.receipter">收件人:<i class="glyphicon glyphicon-asterisk" style="font-size: 20px; color: red;"></i></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="" ng-model="address.Recipient" required>

                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate="PAGE.shop.address.index.email">邮编:<i class="glyphicon glyphicon-asterisk" style="font-size: 20px; color: red;"></i></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="" ng-model="address.ZipCode" required>

                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate="PAGE.shop.address.index.isdefault">是否设为默认值:<i class="glyphicon glyphicon-asterisk" style="font-size: 20px; color: red;"></i></label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="address.isDefault">
                                    <option value="true" translate="PAGE.shop.address.index.yes">是</option>
                                    <option value="false" translate="PAGE.shop.address.index.no">否</option>
                                </select>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">

                            <button type="submit" ng-click="AddAddress(form.$valid)" ng-class="{'active': btnSuccess, 'btn': true, 'btn-success': true,'disabled':btnSuccess}">
                                <span class="text" translate="BUTTON.add">添加</span>
                                <span class="text-active" translate="BUTTON.adding">添加中...</span>
                                <i ng-class="{'fa': true,'fa-spin': true, 'fa-spinner': true, 'hide': true, 'show': btnSuccess, 'inline': btnSuccess}" id="spin"></i>
                            </button>
                            <button type="submit" class="btn btn-default" ng-click="clean()" translate="BUTTON.clear">清空</button>
                        </footer>
                    </form>
                </div>
            </div>
        </tab>
        <tab heading="{{'PAGE.shop.address.index.Saddess'|translate}}" active="steps.step2" ng-controller="AddressListCtrl" >
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <h3 class="panel-title" >
                        <font>
                            <font class="customTitle" translate="PAGE.shop.address.index.Saddess"> 收货地址</font>
                        </font>
                    </h3>
                </div>

             
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th style="text-align: center;" translate="PAGE.shop.address.index.Address">地址</th>
                                <th style="text-align: center;" translate="PAGE.shop.address.index.tel">手机号</th>
                                <th style="text-align: center;" translate="PAGE.shop.address.index.receipter">收件人</th>
                                <th style="text-align: center;" translate="PAGE.shop.address.index.email">邮编</th>
                                <th style="text-align: center;" translate="PAGE.shop.address.index.default">默认收货地址</th>
                                <th class="grid-action-td" style="text-align: center;" translate="PAGE.shop.address.index.operate">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in AddressList">
                                <td style="text-align: center;">{{item.address}}</td>
                                <td style="text-align: center;">{{item.mobile}}</td>
                                <td style="text-align: center;">{{item.recipient}}</td>
                                <td style="text-align: center;">{{item.zipCode}}</td>
                                <td style="text-align: center;">{{item.isDefaultText}}</td>
                                <td class="grid-action-td" style="text-align: center;">
                                    <div class="grid-action">
                                        <a style="padding-right: 10px" ng-click="edit(item.id)" translate="PAGE.shop.address.index.edit">编辑</a>
                                        <a style="padding-right: 10px" ng-hide="item.isDefault" ng-click="default(item.id)" translate="PAGE.shop.address.index.makeDefault">设为默认收获地址</a>
                                        <a ng-click="delete(item.id)" translate="PAGE.shop.address.index.delete">删除</a>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <pagination total-items="Grid.pager.totalItems" max-size="Grid.pager.maxSize" previous-text="<" next-text=">" ng-model="Grid.pager.currentPage" ng-change="Grid.pager.pageChanged()" class="m-t-none m-b"></pagination>
                                </div>
                            </div>
                        </footer>

                    </div>
                </div>
            </div>
        </tab>
        
    </tabset>
</div>