

<div class="modal-header">
    <h3 class="modal-title" translate="PAGE.dialog.upgrade.preview">信息预览</h3>
</div>
<div class="modal-body">
    <div style="padding: 30px">
        <div class="wrapper star1">

            <select ng-model="ylInfo.currentLevelId" class="appearance" disabled>
                <option ng-selected="ylInfo.currentLevelId==item.value" ng-repeat="item in userLevel">{{item.text}}</option>
            </select>
        </div>
        <div style="display: inline-block; text-align: center;">
            <img style="padding: 5px 150px;" src="../img/upgrade.png"/>
        </div>
        <div class="wrapper star2">

            <select ng-model="ylInfo.level" class="appearance" disabled>
                <option ng-selected="ylInfo.level==item.value" ng-repeat="item in userLevel">{{item.text}}</option>
            </select>
        </div>
    </div>
    <div style="display: inline-block; text-align: left; padding-left: 60px;">
        <span style="margin-right: 30px;">购物积分：</span>
    </div>
    <div style="display: inline-block; text-align: left; padding-left: 60px; width: 800px;">
        <span style="margin-right: 30px;">余额：<b>{{ylInfo.gwwallet}}</b></span>
        <span style="margin-right: 30px;">补差额金额：<b>{{ylInfo.gwupdateLevelPrice}}</b> </span>
        <span style="margin-right: 30px;">差金额：<b>{{ylInfo.gwwalletRest}}</b></span>
    </div>
    <div style="display: inline-block; text-align: left; padding-left: 60px;">
        <span style="margin-right: 30px;">RP账户：</span>
    </div>
    <div style="display: inline-block; text-align: left; padding-left: 60px;width: 800px;">
        <span style="margin-right: 30px;">余额：<b>{{ylInfo.rpwallet}}</b></span>
        <span style="margin-right: 30px;">补差额金额：<b>{{ylInfo.rpupdateLevelPrice}}</b> </span>
        <span style="margin-right: 30px;">差金额：<b>{{ylInfo.rpwalletRest}}</b></span>
    </div>

</div>
<div class="modal-footer" style="text-align:right">
    <button class="btn btn-info" ng-click="confirm(ylInfo)" translate="BUTTON.submit">提交</button>
    <button class="btn btn-primary" ng-click="Cancel()">取消 </button>
</div>